[submodule "assets/syntaxes/Packages"]
	path = assets/syntaxes/01_Packages
	url = https://github.com/sublimehq/Packages/
[submodule "assets/syntaxes/TOML"]
	path = assets/syntaxes/02_Extra/TOML
	url = https://github.com/jasonwilliams/sublime_toml_highlighting
[submodule "assets/themes/sublime-monokai-extended"]
	path = assets/themes/sublime-monokai-extended
	url = https://github.com/jonschlinkert/sublime-monokai-extended
[submodule "assets/syntaxes/Docker"]
	path = assets/syntaxes/02_Extra/Docker
	url = https://github.com/asbjornenge/Docker.tmbundle
[submodule "assets/syntaxes/INI"]
	path = assets/syntaxes/02_Extra/INI
	url = https://github.com/clintberry/sublime-text-2-ini
[submodule "assets/themes/DarkNeon"]
	path = assets/themes/DarkNeon
	url = https://github.com/RainyDayMedia/DarkNeon
[submodule "assets/themes/github-sublime-theme"]
	path = assets/themes/github-sublime-theme
	url = https://github.com/AlexanderEkdahl/github-sublime-theme
[submodule "assets/themes/1337-Scheme"]
	path = assets/themes/1337-Scheme
	url = https://github.com/MarkMichos/1337-Scheme
[submodule "assets/themes/TwoDark"]
	path = assets/themes/TwoDark
	url = https://github.com/erremauro/TwoDark
[submodule "assets/themes/zenburn"]
	path = assets/themes/zenburn
	url = https://github.com/colinta/zenburn.git
[submodule "assets/syntaxes/protobuf-syntax-highlighting"]
	path = assets/syntaxes/02_Extra/Protobuf
	url = https://github.com/VcamX/protobuf-syntax-highlighting.git
	branch = master
[submodule "assets/syntaxes/Jsonnet"]
	path = assets/syntaxes/02_Extra/Jsonnet
	url = https://github.com/gburiola/sublime-jsonnet-syntax.git
[submodule "assets/themes/dracula-sublime"]
	path = assets/themes/dracula-sublime
	url = https://github.com/dracula/sublime.git
[submodule "assets/syntaxes/HTML (Twig)"]
	path = assets/syntaxes/02_Extra/HTML (Twig)
	url = https://github.com/Anomareh/PHP-Twig.tmbundle.git
[submodule "assets/themes/Nord-sublime"]
	path = assets/themes/Nord-sublime
	url = https://github.com/crabique/Nord-plist.git
[submodule "assets/themes/Solarized"]
	path = assets/themes/Solarized
	url = https://github.com/braver/Solarized
[submodule "assets/themes/Coldark"]
	path = assets/themes/Coldark
	url = https://github.com/ArmandPhilippot/coldark-bat.git
[submodule "assets/themes/gruvbox"]
	path = assets/themes/gruvbox
	url = https://github.com/subnut/gruvbox-tmTheme.git
	branch = bat-source
[submodule "assets/themes/visual-studio-dark-plus"]
	path = assets/themes/visual-studio-dark-plus
	url = https://github.com/vidann1/visual-studio-dark-plus.git
[submodule "assets/syntaxes/02_Extra/SublimeEthereum"]
	path = assets/syntaxes/02_Extra/SublimeEthereum
	url = https://github.com/davidhq/SublimeEthereum.git
[submodule "assets/syntaxes/02_Extra/Groff"]
	path = assets/syntaxes/02_Extra/Groff
	url = https://github.com/carsonoid/sublime_man_page_support
[submodule "assets/syntaxes/02_Extra/http-request-response"]
	path = assets/syntaxes/02_Extra/http-request-response
	url = https://github.com/keith-hall/http-request-response-syntax.git
	url = https://github.com/carsonoid/sublime_man_page_support
[submodule "assets/syntaxes/02_Extra/jq"]
	path = assets/syntaxes/02_Extra/jq
	url = https://github.com/zogwarg/SublimeJQ.git
[submodule "assets/syntaxes/01_Packages"]
	path = assets/syntaxes/01_Packages
	url = https://github.com/sublimehq/Packages/
[submodule "assets/syntaxes/02_Extra/TOML"]
	path = assets/syntaxes/02_Extra/TOML
	url = https://github.com/jasonwilliams/sublime_toml_highlighting
[submodule "assets/syntaxes/02_Extra/Docker"]
	path = assets/syntaxes/02_Extra/Docker
	url = https://github.com/asbjornenge/Docker.tmbundle
[submodule "assets/syntaxes/02_Extra/INI"]
	path = assets/syntaxes/02_Extra/INI
	url = https://github.com/clintberry/sublime-text-2-ini
[submodule "assets/syntaxes/02_Extra/Protobuf"]
	path = assets/syntaxes/02_Extra/Protobuf
	url = https://github.com/VcamX/protobuf-syntax-highlighting.git
	branch = master
[submodule "assets/syntaxes/02_Extra/Jsonnet"]
	path = assets/syntaxes/02_Extra/Jsonnet
	url = https://github.com/gburiola/sublime-jsonnet-syntax.git
